---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Content";
const primaryColor = "#4b5563";
const md = "1.25rem";
const posts = await Astro.glob('../pages/posts/*.md');
---

<style define:vars={{primaryColor, md}}>
    .card{
        display: flex;
        flex-direction: column;
        border: 2.25px solid lightblue;
        border-radius: 20px;
        background-color: #f5f5f5;
        gap: 1;
        margin-top: 2.5rem;
        padding: 15px;
    }
    .text {
        color: var(--primaryColor);
    }
    .font-md {
        font-size: var(--md);
    }
    .img-formatter {
        max-width: 100%;
    }
</style>

<BaseLayout pageHeading={title}>
    <div>
        <ul>
            {posts.map((post)=> <li class="card">
            <h2>{post.frontmatter.title}</h2>
            <figure>
                <img src={post.frontmatter.image.url} alt="something" class="img-formatter"/>
            </figure>
            <p class="text font-md">{post.frontmatter.description}</p>
            <div>
                <span>{post.frontmatter.date}</span>
                <a href={post.url}>Read More...</a>
            </div>
            </li>)}
        </ul>
    </div>
</BaseLayout>