---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const title = "Content";
const posts = [
    {
        title: "My First Blog Post",
        date: "2022-07-01",
        description: "This is the first post of my new Astro blog.",
        imgUrl: "https://docs.astro.build/assets/full-logo-light.png",
        link: "/posts/post-1"
    },
    {
        title: "My Second Blog Post",
        date: "2022-07-01",
        description: "After learning some Astro, I couldn't stop !",
        imgUrl: "https://docs.astro.build/assets/arc.webp",
        link: "/posts/post-2"
    },
    {
        title: "My Third Blog Post",
        date: "2022-07-15",
        description: "I had some challenges, but asking in the community really helped !",
        imgUrl: "https://docs.astro.build/assets/rays.webp",
        link: "/posts/post-3"
    },
]

const primaryColor = "#4b5563";
const md = "1.25rem";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <style define:vars={{primaryColor, md}}>
            .card{
                display: flex;
                flex-direction: column;
                border: 2.25px solid lightblue;
                border-radius: 20px;
                background-color: #f5f5f5;
                gap: 1;
                margin-top: 2.5rem;
                padding: 15px;
            }
            .text {
                color: var(--primaryColor);
            }
            .font-md {
                font-size: var(--md);
            }
            .img-formatter {
                max-width: 100%;
            }
        </style>
	</head>
	<body>
		<Navbar/>
		<h1>Blog...</h1>
        <div>
            {posts.length > 0 ? 
            <ul>
                {posts.map((post)=>
                    <li class="card"><h2>{post.title}</h2>
                        <figure>
                            <img src={post.imgUrl} alt="something" class="img-formatter"/>
                        </figure>
                        <p class="text font-md">{post.description}</p>
                        <span>{post.date}</span>
                        <a href={post.link}>Read more...</a>
                        </li>)}
            </ul> : <p>No posts are found...</p>}

        </div>
        <Footer/>
	</body>
</html>